.block {
    position: relative;
}


.wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    transition: .2s;

    .image {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        opacity: 0;
        transition: .2s;
    }

    .static {
        z-index: 1;
        opacity: 1;
    }

    .hover {
        z-index: -1;
        opacity: 0;
    }


}

.activeWrapper {
    z-index: 1;
    opacity: 1;
}

.hoveredWrapper, .wrapper:hover {
    .visible {
        z-index: -1;
        opacity: 0;
    }

    .hover {
        z-index: 1;
        opacity: 1;
    }
}

.pressedWrapper, .wrapper:active {
    .visible {
        z-index: -1;
        opacity: 0;
    }

    .pressed {
        z-index: 1;
        opacity: 1;
    }
}

// ===={ AXIS }====

.top {
    transform: rotate(180deg);
}
.right {
    transform: rotate(-90deg);
}
.bottom {
    transform: rotate(0deg);
}
.left {
    transform: rotate(90deg);
}