.wrapper {
    position: relative;
    display: flex;
    min-height: 100vh;
    background-color: var(--background-1);

    .page {
        padding: 20px;
        width: 100%;
    }

    .sidebar {
        border-left: 3px solid var(--background-3);
        max-width: 500px;
        width: 100%;
        transition: .3s;

        @media (max-width: 1024px) {
            max-width: 400px;
            position: fixed;
            z-index: 100;
            top: 0;
            right: 0;
            height: 100vh;
            box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.2);
            transform: translateX(100%);
        }

        @media (max-width: 768px) {
            border-left: 0;
            max-width: none;
            width: 100vw;
        }

        &.open {
            transform: translateX(0);
        }
    }
}
