.button {
    padding: 30px 10px;
    // background-color: var(--n-blue-light-3);
    background-color: var(--tertiary-surface);
    border-radius: 0;
    border-width: 1px !important;

    &:hover {
      background-color: var(--tertiary) !important;
    }
}

.notShow {
  background-color: var(--empty) !important;
}

// >>> ========={ / DIRECTION \ }========= >>>
.row {
    padding: 30px 10px; 
  }
  .column {
    padding: 10px 30px; 
  }
// <<< ========={ \ DIRECTION / }========= <<<
  


// >>> ========={ / AXIS \ }========= >>>
.left {
  border-radius: 0 20px 20px 0 !important;
}
.right {
  border-radius: 20px 0 0 20px !important;
}
.top {
  border-radius: 0 0 20px 20px !important;
}
.bottom {
  border-radius: 20px 20px 0 0 !important;
}
// <<< ========={ \ AXIS / }========= <<<
