.task {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: var(--background-1);
    width: 100%;
    font-weight: var(--fw-semi-bold);
    transition: .2s;

    &:hover {
        background-color: var(--background-3);

        .delete {
            opacity: 1;
        }
    }
    .body {
        display: flex;
        gap: 20px;
        width: 100%;
        padding: 5px 10px;

        .title {
            width: 100%;
            cursor: pointer;
        }
    }

    .delete {
        opacity: 0;
        padding: 15px !important;
        border-radius: 0 10px 10px 0 !important;
    }
}