:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // ===={ COLORS }====
  // BASE
  --black: #000000;
  --white: #FFFFFF;
  --empty: #FFFFFF00;

  --gray-1: #1C1C1C;
  --gray-2: #232323;
  --gray-3: #2E2E2E;
  --gray-4: #4F4F4F;
  --gray-5: #ABABAB;

  --green-1: #00F2A6;
  --green-2: #9CFFE0;
  --green-3: #00FF7F;
  --green-4: #1B936E;
  --green-light-1: #B3FCE5;

  --red-1: #CA2B3E;
  --red-2: #A12232;
  --red-3: #761925;
  --red-light-1: #FBEAEC;

  // SPECIFY
  --disabled: var(--gray-5);

  --background-1: var(--gray-1);
  --background-2: var(--gray-2);
  --background-3: var(--gray-3);

  --foreground-1: var(--white);
  --foreground-2: var(--gray-5);
  --foreground-3: var(--gray-4);

  --primary: var(--green-1);
  --primary-border: var(--green-2);
  --primary-hovered: var(--green-3);
  --primary-pressed: var(--green-4);
  --on-primary: var(--foreground-1);
  --primary-surface: var(--green-light-1);
  --primary-surface-sub: var(--green-light-1);

  --negative: var(--red-2);
  --negative-border: var(--red-1);
  --negative-hovered: var(--red-2);
  --negative-pressed: var(--red-3);
  --on-negative: var(--foreground-1);
  --negative-surface: var(--red-light-1);
  --negative-surface-sub: var(--red-light-1);


  // USE
  background-color: var(--background-1);
  color: var(--foreground-1);


  //FONT-SIZE
  // 12px
  --fs-xs: 0.75rem;
  // 15px
  --fs-sm: 0.94rem;
  // 16px
  --fs-srg: 1rem;
  // 20px
  --fs-rg: 1.25rem;
  // 24px
  --fs-lrg: 1.5rem;
  // 32px
  --fs-lg: 2rem;
  // 40px
  --fs-mlg: 2.5rem;
  // 48px
  --fs-elg: 3rem;

  //FONT-WEIGHT
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* Стили для Firefox */
  scrollbar-width: thin; /* "auto" или "thin" */
  scrollbar-color: var(--gray-5) transparent; /* Цвет ползунка и трека */
  

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--gray-5);
    border-radius: 4px;
  }
}

#root {
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;

  /* Стили скроллбара для Firefox */
  scrollbar-width: thin; /* "auto" или "thin" */
  scrollbar-color: var(--gray-1) transparent; /* Цвет ползунка и трека */


  &::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--gray-1);
    border-radius: 4px;
  }

  &::selection {
    background: var(--green-1);
    color: var(--background-2);
  }
}

html {
  font-size: 16px; /* Базовый размер по умолчанию */
}

@media (max-width: 768px) {
  html {
    font-size: 14px; /* Уменьшаем базовый rem */
  }
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  // overflow-x: hidden;
  font-weight: var(--fw-regular);
  font-family: var(--font-family);
  
  input, textarea {
    color: var(--foreground-1);
    font-family: inherit;
    font-weight: var(--fw-semi-bold);

    &::placeholder {
      font-weight: inherit;
      color: var(--foreground-2);
    }
  }
}

body {
  background-color: var(--background-1);
  color: var(--foreground-1);
  font-size: var(--fs-srg);
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  color: var(--foreground-1);
  transition: 0.2s;
}

h1,h2,h3,h4,h5,h6, span, p{
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
